<h3>Help Section</h3>
<br>
<h4>Student List</h4>
<p>A list of students retrieved from the Web Service</p>
<br>
<h4>Available Courses</h4>
<p>This Page shows a list of available students</p>
<br>
<h4>Cart Select</h4>
<p>Allows for the user to select the courses which they want to take</p>
<p> - on a sidenote there is a problem with prerequisites as i could not resolve a issue with the datatype of 'never' </p>
<br>
<h4>Invalid Route</h4>
<p>Invalid route </p>
<h4>Some Links</h4>
<a href="https://limitless-ocean-63331.herokuapp.com/"> The Web Service</a>
<br>
<a href="https://bti425.ca/graded-work/assign3"> Assignment 3 Specifications</a>
