<h3>BTI425 Assignment 2</h3>
<p>This Angular app is made by Babken Nurijanyan for the:</p>
<p>BTI425 <a href="https://bti425.ca/graded-work/assign2" target="_blank">Assignment 2</a> in Winter 2019.</p> 
<hr>
<p>This current version of the app enables the user to work with ALL students.</p>
<a routerLink="/students" class="btn btn-primary">List of Students</a>  
<hr>
<p>A future version will require the user to login as a specific student.</p>
<a routerLink="/" class="btn btn-primary" disabled>Login</a> 