<h3>BTI425 Assignment 3</h3>
<p>This Angular app is made by Babken Nurijanyan for the:</p>
<p>BTI425 <a href="https://bti425.ca/graded-work/assign3" target="_blank">Assignment 3</a> in Winter 2019.</p> 
<hr>
<div *ngIf="loggedIn == false">
    <a routerLink="/login" class="btn btn-primary">Login</a>&nbsp;
    <a routerLink="/activate" class="btn btn-info">Activate</a>&nbsp; 
    <a routerLink="/create" class="btn btn-warning">Register</a>
</div>
<div *ngIf="loggedIn == true">
    <a routerLink="/logout" class="btn btn-danger">Logout</a>&nbsp;
    <a routerLink="/students/detail/{{ this.m.student.email }}" class="btn btn-default">Your Details</a>
</div>